      .lspeed {
          background: url("lightspeed.png") no-repeat;
          height: 0px;
          width: 100px;
          display: block;
          /* Other styles here */
      }

      @font-face {
          font-family: telas;
          src: URL("/assets/fonts/BOEING-style.ttf") format("truetype");
      }

      .rollingonthefloor {
          font-family: telas;
      }

      .game-title {
          font-size: 1.5rem !important;
      }

      .blocked {
          color: red !important;
      }

      h1 {
          font-family: telas;
      }
      
      
.ad-tile{
    border: 1px solid red;
}