.terminal {
    border-left: 1px solid #00ffaa;
    padding-left: 1em;
    opacity: 1;
    /* background-color: transparent; */
}
.terminal:not(.focus) {
    border-color: transparent;
    opacity: 0.5;
}