:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: #312f3e;
  }
  
  #cards {
      text-align: left !important;
      align-items: center;
      justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;  
    max-width: 916px;
    width: calc(100% - 20px);
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .cardTeam {
    background-color: rgba(134, 133, 239, 0.4);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 260px;
    flex-direction: column;
    position: relative;
    width: 300px;  
  }
  
  .cardTeam:hover::before {
    opacity: 1;
  }
  
  .cardTeam::before,
  .cardTeam::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .cardTeam::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    z-index: 3;
  }
  
  .cardTeam::after {  
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y), 
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .cardTeam > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  
  h1, h2, h3, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
  }
  
  i {  
    color: rgb(240, 240, 240);
  }
  
  .card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-image > i {
    font-size: 6em;
    opacity: 0.25;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {  
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
  @media(max-width: 1000px) {
    body {
      align-items: flex-start;  
      overflow: auto;
    }
    
    #cards {    
      max-width: 1000px;
      padding: 10px 0px;
    }
    
    .card {
      flex-shrink: 1;
      width: calc(50% - 4px);
    }
  }
  
  @media(max-width: 500px) {
    .card {
      height: 180px;
    }
    
    .card-image {
      height: 80px;  
    }
    
    .card-image > i {
      font-size: 3em;
    }
      
    .card-info-wrapper {
      padding: 0px 10px;
    }
    
    .card-info > i { 
      font-size: 0.8em; 
    }
    
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  }
  
  @media(max-width: 320px) {
    .card {
      width: 100%;
    }
  }
  
  /* -- ↓ ↓ ↓ YouTube link styles ↓ ↓ ↓ -- */
  
  #youtube-link {
    bottom: 10px;
  }
  
  #youtube-link > i {
    color: rgb(239, 83, 80);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  .link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    z-index: 100;
  }
  
  .link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .link > i, .link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .link > span {
    color: white;
  }

  


/* ===================================
Review Cards Moving
=================================== */

 .column {
  gap: 10px;
  position: relative;
  overflow: hidden;
  padding-left: 10px; /* Adjust as needed */
  margin-bottom: 20px;
  max-width: 30vw;
  height: 80vh; /* Set height for column */
}

/* Styles for screens smaller than 768px (typical for mobile devices) */
@media only screen and (max-width: 768px) {
  .column {
    gap: 10px;
    position: relative;
    overflow: hidden;
    padding-left: 0px; /* Adjust as needed */
    margin-bottom: 0px;
    min-width: 80vw;
    height: 80vh; /* Set height for column */
  }

  #column1{
    display: none;
  }
  #column2{
    display: none;
  }
}

/* .card {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  height:  fit-content;
  border: 0;
  color: #fff;
  background-color:#312F3E;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 0.7s;
  animation-delay: 0.3s;
}

.card:hover{
  border: 2px solid #8685EF;
} */

.card {
  padding: 10px;
  text-align: left;
  height: fit-content;
  border: 2px solid transparent; /* Start with a transparent border */
  color: #fff;
  background-color: #312f3e;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: border-color 0.3s ease; /* Add transition to border-color */
  position: relative; /* Add position relative */
}

.card::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  opacity: 0;
  transition: opacity 0.3s ease; /* Transition for fade effect */
  border-radius: 20px;
  pointer-events: none; /* Disable pointer events on the pseudo-element */
}

.card:hover::before {
  opacity: 1;
  border-color: #8685ef; /* Border color on hover */
}







.custom-column {
  padding-left: 0; /* Adjust as needed */
  padding-right: 0; /* Adjust as needed */
}

.coloredStar{
  margin-top: 10px;
  padding-right: 3px;
  font-size: 15px;
  color: #fff;
}

