body {
  overflow-x: hidden;
  z-index: inherit !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

.searchforapps {
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  padding: 15px 30px 15px 30px;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  display: flex;
  text-align: center;
  transition: 0.7s;
  width: 20vw;
}

/* Styles for screens smaller than 768px (typical for mobile devices) */
@media only screen and (max-width: 768px) {

  .searchforapps {
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    padding: 15px 30px 15px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    display: flex;
    text-align: center;
    transition: 0.7s;
    width: 50vw;
  }

  .searchforapps:active {
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
    width: 100vw;
  }


  .searchforapps:focus {
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
    width: 100vw;
  }
}


.searchforapps:active,
.searchforapps:focus {
  /* height: 10vh; */
  /* font-size: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.9);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.7);
  width: 30vw;
}

.app-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  min-height: 210px;
  background-color: rgba(255, 255, 255, 0.108);
  width: auto;
  max-width: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
  transition: 0.7s;
}

.app-list {
  display: flex;
  color: #fff;
  flex-wrap: wrap;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: 0.3s !important;
  text-align: center;
  height: 150px;
  width: 270px;
  border-radius: 3px !important;
}

.app-card:hover .app-image {
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.477);
}

.app-card:hover {
  background-size: 400% 400%;
  background: linear-gradient(to top right, rgb(115, 11, 14), rgb(10, 23, 87)) !important;
  animation: gradient 5s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#launchgame {

  margin-top: auto;

}






.gms-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.game-tags-color-switch {
  color: #fff !important;
}


